{% extends 'base.html.twig' %}

{% block title %}Espace Membre de {{ app.user.username }}{% endblock %}

{% block body %}
<h1>
    Espace Membre de {{ app.user.username }}
</h1>
    <a>Changer de mot de passe</a>
    <a>Deconnexion</a>
{% endblock %}
