{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>
            Bonjour
        </h2>
        <div class="metadata">
            Salut
        </div>
        <div class="content">
            <img src="{{ asset('img/foot1.jpg') }}">
            <p>
                Youhou
            </p>
            <p>
                Yipi
            </p>
            <hr>
        </div>
    </article>
{% endblock %}