{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier
        {% else %}
            Nouvel article
        {% endif %}
    </h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Enregistrer
        {% else %}
        Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(form) }}

{% endblock %}