{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="head-articles">
        {% for article in articles %}
        <a href="{{ path('article_show', {'id': article.id}) }}">
            <div id="second-article" style="background-image: url({{ article.image }})">
                <div class="overlay"></div>
                <div class="titre-article">
                    <h3>
                        {{ article.competition }}
                    </h3>
                    <p>
                        {{ article.title }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}
